

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(252, 0, 0);
    margin: 0;
    overflow: hidden;
    
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px 0;
}
.game{
   
    background: linear-gradient(#080808, #020202);
    }

#board {
    background:linear-gradient(#080808, #020202);
   
    margin: 0 auto;
    position: relative;
    overflow: hidden;

} .cloud {
    width: 110px;
    position: absolute;
    top: 30%;
    animation: cloud-animation 10s infinite linear;
}
.butterfly {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 0;
    transform: translateY(-50%);
}

.butterfly1 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 80px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly2 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 160px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly3 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 240px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly4 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 320px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly5 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 400px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly6 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 480px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly7 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 560px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly8 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 640px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly9 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 720px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly10 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 800px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly11 {
    width: 80px;
    position: absolute;
    top: 70%;
    left: 880px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly12 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 960px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly13 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 1040px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly14 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 1120px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly15 {
    width: 90px;
    position: absolute;
    top: 50%;
    left: 1200px; /* Distância da borboleta anterior */
    transform: translateY(-40%);
}

.butterfly16 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 1280px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly17 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 1360px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

.butterfly18 {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 1440px; /* Distância da borboleta anterior */
    transform: translateY(-50%);
}

@keyframes cloud-animation {
    0% {
        left: 450px;
    }
    100% {
        left: 900px;
    }

